
div.wrapper{
	width: 963px;
	background-color: white;
	 
}

div.inner-wrapper{
	margin-left: 25px;
	margin-right: 25px;
}

div.page-content{
	background-color: #dd3333;
	padding-bottom: 0px;
	padding: 0px;
}

/*HEADER-----------------------------*/
header.site-header{
	/*position: fixed;*/
	background-color: #dd3333;
	border-bottom: none;
	border-top: none;

}

div.header-holder{
	padding-top: 40px;
}

div#logo-nav{
	float: left;
	padding-bottom: 15px;
}

div#logo-nav h1{
	font-size: 26px;
}

div#menu{
	margin-top: 15px;
	float: right;
	padding-top: 13px
}

/*a.site-title{
	padding-top: 50px;
	padding-bottom: 30px;
	padding-left: 25px;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
}*/

/*div.nav-links{
	padding-top: 73px;
	padding-right: 30px;
}*/

ul#main-menu a{
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 10px 10px 10px;

}

div#ruling{
	border-top: 1px solid #e8e8e8;
	padding-bottom: 35px;
	background-color: white;
}




/*SLIDER-----------------------------*/
div#carousel-example-generic{
	height: 350px;
	z-index: 1;
	margin-bottom: 40px;
	margin-right: 25px;
	margin-left: 25px;
}
/*MAIN PAGE--------------------------*/

/*div.home{
	margin-top: 32px;
	width: 100%;
	background-color: white;
}*/

h1.heading1{
	/*margin-left: 25px;
	margin-right: 25px;*/
	width: 100%;
	height: 90px;
	background-color: #dd3333;
	padding: 25px;

}

ul.post-list{
	width: 67%;
	float: left;
	
}

ul.post-list li{
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 25px;
	padding-bottom: 40px;
}

li img{
	width: 200px;
	float: left;
	margin-right: 15px;
	margin-bottom: 20px;
	border: 1px dashed black;

}

h1.post-title{
	margin-top: 0px;
}

a{
	color: black;
	padding-right: 15px;
}

a:visited{
	color: black;
}

a.post-link{
	font-size: 30px;
	display: inline;
}
/*WIDGETS*/

div#widget{
	width: 33%;
	float: right;
	padding-bottom: 40px;
	padding-top: 25px;
}


#twitter-widget-0 { 
      width: 280px !important; 
    }



#widget ul li{
	display: inline;
}





h1.page-heading{
	font-size: 40px;
	color: white;
	margin-top: 15px;
	background-color: #dd3333;
	padding: 20px;
	/*margin-left: 35px;
	margin-right: 35px;*/
}

/*FOOTER-----------------------------*/

div.pagination{
	margin-left: 20px;
}

p.rss-subscribe{
	margin-left: 20px;
}

footer.site-footer{
	background-color: #dd3333;
	border-top: none;
	padding-top: 0px;
	padding-bottom: 0px;
}

h2.footer-heading{
	margin-top: 0px;
}

div.footer-col-wrapper{
	background-color: #EAE5E5;
	margin-left: 0px;

}

/*COMMUNITY BANNER-------------------*/

div#community-banner{
	width: 100%;
	height: 250px;
	
}

/*POSTS PAGE-------------------------*/

div.post img{
	width: 630px;
	border: 1px dashed black;
}