
div.wrapper{
	max-width: 963px;
	background-color: white;
	 
}

div.inner-wrapper{
	margin-left: 25px;
	margin-right: 25px;
}

div.page-content{
	background-color: #dd3333;
	padding-bottom: 0px;
	padding: 0px;
}

/*HEADER-----------------------------*/

img#roxanne1{
	height: 150px;
	width: 135px;
	border: none;
}

header.site-header{
	background-color: #dd3333;
	border-bottom: none;
	border-top: none;
}

ul.nav.navbar-nav {
	margin-right: -37em;
	margin-top: -4em;
}

a.navbar-brand{
	font-size: 2.5em;
	margin-top: 2.5em;
}

/*
div#logo-nav{
	float: left;
	padding-bottom: 15px;
	text-transform: uppercase;
	display: inline-flex;
}

div#logo-nav h1{
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 2px;
	margin-top: 90px;
	margin-left: 10px;
	font-family: Arial, sans-serif;
}

div#logo-nav h1 a{
	color: #454343;
}

div#logo-nav img{
	height: 150px;
	width: 135px;
	border: none;
	margin-top: 25px;
}

div#menu{
	float: right;
	padding-top: 65px;
	padding-left: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e8e8e8;
	margin-top: 30px;
}

div#menu a{
	color: #757474;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Arial, sans-serif;
}*/


/*ul#main-menu a{
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 10px 10px 10px;

}*/

div#ruling{
	border-top: 1px solid #e8e8e8;
	padding-bottom: 35px;
	background-color: white;
}




/*SLIDER-----------------------------*/
div#carousel-example-generic{
	height: 350px;
	z-index: 1;
	margin-bottom: 40px;
	margin-right: 25px;
	margin-left: 25px;
}
/*MAIN PAGE--------------------------*/


h1.heading1{
	width: 100%;
	height: 100%;
	background-color: #dd3333;
	padding: 25px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 3em;
	margin-top: 0px;
}

ul.post-list{
	width: 67%;
	float: left;
}

ul.post-list li{
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 25px;
	padding-bottom: 40px;
}

li img{
	width: 200px;
	float: left;
	margin-right: 15px;
	margin-bottom: 20px;
	border: 1px dashed black;
}

h1.post-title{
	margin-top: 0px;
}

a{
	color: black;
	padding-right: 15px;
}

a:visited{
	color: black;
}

a.post-link{
	font-size: 30px;
	display: inline;
}
/*WIDGETS*/

div#widget{
	width: 33%;
	float: right;
	padding-bottom: 40px;
	padding-top: 25px;
}


#twitter-widget-0 { 
      width: 280px !important; 
    }



#widget ul li{
	display: inline-block;
	margin-bottom: 50px;
}





h1.page-heading{
	font-size: 40px;
	color: white;
	margin-top: 15px;
	background-color: #dd3333;
	padding: 20px;
	/*margin-left: 35px;
	margin-right: 35px;*/
}

/*SIGN UP----------------------------*/

div#widget ul li p a:visited{
	color: none;
}


/*FOOTER-----------------------------*/

div.pagination{
	margin-left: 20px;
}

p.rss-subscribe{
	margin-left: 20px;
}

footer.site-footer{
	background-color: #dd3333;
	border-top: none;
	padding-top: 0px;
	padding-bottom: 0px;
}

h2.footer-heading{
	margin-top: 0px;
}

div.footer-col-wrapper{
	background-color: #EAE5E5;
	margin-left: 0px;

}

/*COMMUNITY BANNER-------------------*/

div#community-banner{
	margin-bottom: 40px;
	
}

div#community-banner img{
	max-width: 100%;
	max-height: 100%;
}




/*POSTS PAGE-------------------------*/

div.post img{
	width: 630px;
	border: 1px dashed black;
}

h1.post-head{
	margin-top: 30px;
	background-color: #dd3333;
	height: 90px;
	padding: 25px; 
}

/*ABOUT ME PAGE---------------------*/

div.about-me-wrapper{
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 100px;
	margin-right: 100px;
}

div.about-me-wrapper img{
	float: left;
	margin-bottom: 50px;

}

div.about-me-wrapper p{
	font-size: 33px;
	margin-top: 30px;
}

div.about-me-wrapper p#fullname{
	letter-spacing: 2px;
	color: #dd3333;
	font-size: 28px;
	text-align: right;
}

div.about-me-content{
	width: 67%;
	float: left;
}

/*CONTACT ME PAGE---------------------------*/

p span{
	font-weight: bold;
}


/*navbar-default navbar-static-top*/