---
layout: default
---
<div class='wrapper'>
  <div class='inner-wrapper'>
    <div id='community-banner'>
      <img src='' rel='london'>
    </div>

    <h1 class="post-head">Your community</h1>


      <ul class="post-list">

    {% for post in site.posts %}
      {% if post.categories contains 'community' %}
         <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
      {% endif %}
    {% endfor %}
      
      </ul>

  </div>
</div>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>



  
