<header class="site-header">
  <div class="wrapper">
    <div class='inner-wrapper'>
      <div id='logo-nav'>
        <h1>
          <a href="{{ site.baseurl }}/">Roxanne Mashari</a>
        </h1>
      </div>
 

      <div id="menu">
        
          
            <a id='linc' href="/roxanneblog/about.html">About me</a>
          
          
            <a id='linc' href="/roxanneblog/contact.html">Contact</a>
          
          
            <a id='linc' href='/roxanneblog/community.html'>Your community</a>
          
          
            <a id='linc' href='/roxanneblog/contact.html'>Sign-up</a>
          
        
      </div>
    </div>
  </div>

<!--RULING UNDER HEADER-->

  <div class='wrapper'>  
  <div class='inner-wrapper'>
  <div id='ruling'></div>
  </div>
  </div>
</header>


