<div class="wrapper">
  <div class='inner-wrapper'>

    <div class='navbar'>
        <div class='container'>

          <a href='{{site.baseurl}}/' class='navbar-brand'>Roxanne Mashari</a>

          <div class='collapse navbar-collapse navHeaderCollapse'>
            <ul class='nav navbar-nav'>
              <li><a href='/roxanneblog/about.html'>About me</a></li>
              <li><a href='/roxanneblog/community.html'>Your community</a></li>
              <li><a href='/roxanneblog/contact.html'>Contact me</a></li>
            </ul> 
          </div>

        </div>
    </div>  

  </div><!--inner-wrapper-->
</div><!--wrapper-->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<!--<header class="site-header">
  <div class="wrapper">
    <div class='inner-wrapper'>
      <div id='logo-nav'>
          <img src='/roxanneblog/imgs/roxannemashari.jpg' alt='roxanne'>

          <h1>
              <a href="{{ site.baseurl }}/">Roxanne Mashari</a>
          </h1>

        
      </div>
 

      <div id="menu">
        
          
            <a id='linc' href="/roxanneblog/about.html">About me</a>
          
            <a id='linc' href='/roxanneblog/community.html'>Your community</a>

            <a id='linc' href="/roxanneblog/contact.html">Contact</a>
          
          
        
      </div>
    </div>
  </div>-->

<!--RULING UNDER HEADER-->

 <!-- <div class='wrapper'>  
  <div class='inner-wrapper'>
  <div id='ruling'></div>
  </div>
  </div>
</header>-->


